{% extends 'sova/basepage.html' %}
{% block 'title' %}{{schedule.event.name}} - Pozivnica za {{ person.name }}{% endblock %}
{% block 'container' %}

<div class="jumbotron">
    <h1>{{ schedule.event.name }}</h1>
    <p class="lead">{{ schedule.event.hype_text }}</p>
    <p class="lead" style="text-align: center">Datum: <b style="white-space: nowrap">{{ schedule.event.date }}</b></p>
    <form method="GET" action="{{server}}{% url 'confirm' schedule.id person.id %}">
    <p style="text-align: center"><button class="btn btn-lg btn-success" type="submit">Dolazim obavezno</button></p>
    {% if schedule.event.eventoption_set.all %}
        <div class="options">
            {% for o in schedule.event.eventoption_set.all %}
            <div class="option">
                <label><input type="checkbox" name="option_{{ o.id }}" value="1"> {{ o.name }}</label>
            </div>
            {% endfor %}
        </div>
        {% endif %}

    </form>
    <p>Klikom na "Dolazim obavezno" obvezujem se doći, a u slučaju spriječenosti o tome obavijestiti organizatora.</p>
    <p>Organizator(ica): {{ schedule.event.organiser }}</p>
</div>

<div class="row marketing">
<div class="col-lg-6">
    <h4>Vrijeme održavanja ovog iskustva</h4>
    <p>Iskustvo se održava: <b style="white-space: nowrap">{{ schedule.event.date }}</b></p>
</div>

<div class="col-lg-6">
    {% if schedule.event.deadline_for_joining %}
    <h4>Vrijeme prihvaćanja</h4>
    <p>Rok za prihvaćanje poziva: <b style="white-space: nowrap">{{ schedule.event.deadline_for_joining }}</b></p>
    {% endif %}
</div>
</div>

{% if schedule.event.max_people %}
<div class="row marketing">
<div class="col-lg-12">
    <div class="alert alert-warning" role="alert">Maksimalan broj ljudi koji može sudjelovati je <b>{{ schedule.event.max_people }}</b>!</div>
    <div class="progress">
    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ people_count }}" aria-valuemin="0" aria-valuemax="{{ schedule.event.max_people }}" style="width: {{people_percent}}%;" style="min-width: 2em">{{ people_percent }}%</div>
    </div>
    <p>Broj ljudi koji su potvrdili dolazak: {{ people_count }}.</p>
</div>
</div>
{% endif %}

<div class="row marketing">
<div class="col-lg-12">
    <h4>Tekst pozivnice</h4>
    <p>{{ schedule.message|safe }}</p>
</div>
</div>


{% endblock %}
