{% extends 'sova/base.html' %}
{% block 'body' %}
    <div class="header clearfix">
    <nav>
        <ul class="nav nav-pills pull-right">
        <li role="presentation" class="active"><a href="/">Hoo home</a></li>
        <li role="presentation"><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <h3 class="text-muted">{% block 'title' %}{% endblock %}</h3>
    </div>

    {% block 'container' %}
    {% endblock 'container' %}

    <footer class="footer">
    <p>&copy; <a href="http://www.nlp.hr/" target="_new">NLP Hrvatska</a> &amp; <a href="http://www.idejanakvadrat.hr/" target="_new">Ideja na kvadrat</a></p>
    </footer>
{% endblock 'body' %}