{% extends 'sova/base.html' %}
{% block 'title' %}
Join event
{% endblock %}
{% block 'body' %}
<h1>{{schedule.event.header}}</h1>
<div>{{schedule.message}}</div>
{% if schedule.add_custom_link_before_footer %}
<a href="{{server}}{% url 'accept' schedule.event.id person.id %}">I will</a>
{% endif %}
<footer>{{schedule.event.footer}}</footer>
{% if not schedule.add_custom_link_before_footer %}
<a href="{{server}}{% url 'accept' schedule.event.id person.id %}">I will</a>
{% endif %}
{% endblock %}