{% extends 'sova/baseemail.html' %}
{% block 'title' %}
{{schedule.event.name}} - potvrda sudjelovanja - {{schedule.subject}}
{% endblock %}
{% block 'body' %}

<h1>Potvrda sudjelovanja za {{schedule.subject}}</h1>

<p>Čestitamo na odabiru sudjelovanja u hooliganštini! Sjetite se i / ili zapišite u kalendar vrijeme održavanja: <b>{{ schedule.event.date }}</b></p>

<header>{{schedule.event.header|safe}}</header>
<footer>{{schedule.event.footer|safe}}</footer>

<p>Ako slučajno niste odabrali sudjelovati i izgleda vam kao da ste ovu poruku dobili greškom, molimo da hitno obavijestite administratora: {{ email_admin }}</p>

{% endblock %}