{% extends 'sova/basepage.html' %}
{% block 'title' %}{{schedule.event.name}} - Hvala na sudjelovanju!{% endblock %}
{% block 'container' %}

<div class="jumbotron">
<h1>{{ schedule.event.name }}</h1>
<p class="lead">{{ schedule.event.hype_text }}</p>
<p class="lead" style="text-align: center">Datum: <b style="white-space: nowrap">{{ schedule.event.date }}</b></p>
<p class="lead text-success">Čestitamo što ste sudjelovali u ovom iskustvu!</p>
</div>

<div class="row marketing">
<div class="col-lg-6">
    <p>Nadamo se da ste se ugodno proveli, da ste upoznali nove i zanimljive ljude, i da ste nešto naučili o sebi i o drugima!</p>
</div>

<div class="col-lg-6">
    <p>Kad bude vrijeme, poslati ćemo vam poziv za novi događaj!</p>
</div>
</div>

{% endblock %}
