{% extends 'sova/base.html' %}
{% block 'title' %}
{{schedule.event.name}} - Potvrda sudjelovanja
{% endblock %}
{% block 'body' %}

<div class="container">
    <div class="header clearfix">
    <nav>
        <ul class="nav nav-pills pull-right">
        <li role="presentation" class="active"><a href="/">HooOrg home</a></li>
        <li role="presentation"><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <h3 class="text-muted">Potvrda za {{ person.name }}</h3>
    </div>

    <div class="jumbotron">
    <h1>{{ schedule.event.name }}</h1>
    <p class="lead">{{ schedule.event.hype_text }}</p>
    <p class="lead" style="text-align: center">Datum: <b style="white-space: nowrap">{{ schedule.event.date }}</b></p>
    <p class="lead text-success">Čestitamo što ste odabrali sudjelovati u iskustvu! Dobiti ćete dodatne upute na e-mail!</p>
    </div>

    <div class="row marketing">
    <div class="col-lg-6">
        <h4>Vrijeme održavanja ovog iskustva</h4>
        <p>Iskustvo se održava: <b style="white-space: nowrap">{{ schedule.event.date }}</b></p>
    </div>

    <div class="col-lg-6">
        {% if schedule.event.deadline_for_joining %}
        <h4>Vrijeme prihvaćanja</h4>
        <p>Rok za prihvaćanje poziva: <b style="white-space: nowrap">{{ schedule.event.deadline_for_joining }}</b></p>
        {% endif %}
    </div>
    </div>

    <footer class="footer">
    <p>&copy; NLP Hrvatska &amp; Ideja na kvadrat</p>
    </footer>

</div> <!-- /container -->

{% endblock %}