{% extends 'sova/base.html' %}
{% block 'title' %}
{{schedule.event.name}} - Pozivnica
{% endblock %}
{% block 'body' %}

<div class="container">
    <div class="header clearfix">
    <nav>
        <ul class="nav nav-pills pull-right">
        <li role="presentation" class="active"><a href="/">HooOrg home</a></li>
        <li role="presentation"><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <h3 class="text-muted">Pozivnica za {{ person.name }}</h3>
    </div>

    <div class="jumbotron">
    <h1>{{ schedule.event.name }}</h1>
    <p class="lead">{{ schedule.event.hype_text }}</p>
    <p class="lead" style="text-align: center">Datum: <b style="white-space: nowrap">{{ schedule.event.date }}</b></p>
    </div>

    <div class="row marketing">
    <div class="col-lg-12">

        <form class="form-horizontal" method="POST" action="{{server}}{% url 'confirm' schedule.id person.id %}">

        <div class="form-group">
            <label class="col-sm-2 control-label">Ocjena iskustva (10=najbolje)</label>
            <div class="col-sm-10">
                <input type="radio" name="grade" value="1" id="grade1">
                <label for="grade1">1 </label>
                <input type="radio" name="grade" value="2" id="grade2">
                <label for="grade2">2 </label>
                <input type="radio" name="grade" value="3" id="grade3">
                <label for="grade3">3 </label>
                <input type="radio" name="grade" value="4" id="grade4">
                <label for="grade4">4 </label>
                <input type="radio" name="grade" value="5" id="grade5">
                <label for="grade5">5 </label>
                <input type="radio" name="grade" value="6" id="grade6">
                <label for="grade6">6 </label>
                <input type="radio" name="grade" value="7" id="grade7">
                <label for="grade7">7 </label>
                <input type="radio" name="grade" value="8" id="grade8">
                <label for="grade9">9 </label>
                <input type="radio" name="grade" value="10" id="grade10">
                <label for="grade10">10 </label>
            </div>
        </div>

        <div class="form-group">
            <label for="best" class="col-sm-2 control-label">Što je bilo najbolje u iskustvu?</label>
            <div class="col-sm-10">
                <textarea name="best" id="best" class="form-control" rows="3"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label for="worst" class="col-sm-2 control-label">Što je bilo najgore u iskustvu?</label>
            <div class="col-sm-10">
                <textarea name="worst" id="worst" class="form-control" rows="3"></textarea>
            </div>
        </div>
        


    </div>

    </div>


    <footer class="footer">
    <p>&copy; NLP Hrvatska &amp; Ideja na kvadrat</p>
    </footer>

</div> <!-- /container -->


{% endblock %}