{% extends 'sova/base.html' %}
{% block 'title' %}
Generate user token
{% endblock %}
{% block 'body' %}
<h1>Generate user token</h1>
{% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
{% endfor %}
{% if not token %}
<form action="{% url 'sendprofiletoken' %}" method="post">
    {% csrf_token %}
    <div class="input-group">
        <label for="profile_email">Please enter your e-mail address</label>
        <input type="email" id="profile_email" name="profile_email" class="form-control"/>
    </div>
    <input type="submit" value="Submit" class="btn btn-default">
</form>
{% else %}
<div class="alert alert-success" role="alert">Token has been generated for {{person.name}} and it's {{token.token}}
</div>
<div>Until sending via e-mail is implemented, you can <a href="{% url 'edituserprofile' token.token %} "> edit your profile directly.</a></div>
{% endif %}
{% endblock %}