{% extends 'sova/base.html' %}
{% block 'title' %}
Edit User Profile
{% endblock %}
{% block 'body' %}
<h1>User profile editing</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
{% if not token %}
<form action="{% url 'sendprofiletoken' %}" method="post">
    {% csrf_token %}
    <label for="profile_email">Please enter your e-mail address</label>
    <input type="email" id="profile_email" name="profile_email"/>
    <input type="submit" value="Submit" class="btn btn-primary">
</form>
{% else %}
<p>Token has been generated for {{person.name}} and it's {{token.token}}</p>
{% endif %}
{% endblock %}