{% extends 'sova/base.html' %}
{% block 'title' %}
Join event
{% endblock %}
{% block 'body' %}
<h1>{{person.name}}, will you join the event {{event.name}}?</h1>
<p>{{event.header}}</p>

{% if error_message %}<div class="alert alert-danger" role="alert">{{ error_message }}</div>{% endif %}
{% if participation %}
{% if participation.accepted %}
<div class="alert alert-success" role="alert">You have chosen to participate. Your participation status is
    {{participation.participated}}.</div>
{% else %}
<div class="alert alert-info" role="alert">You have chosen not to participate.</alert>
{% endif %}
{% else %}
<form action="{% url 'vote' event.id person.id %}" method="post">
    {% csrf_token %}

    <input type="radio" name="choice" id="true" value="True"/>
    <label for="true">I will</label><br/>

    <input type="radio" name="choice" id="false" value="False"/>
    <label for="false">I won't</label><br/>

    <input type="submit" value="Vote" class="btn btn-default"/>
</form>
{% endif %}
{% endblock %}
